*{
    margin: 0%;
    padding: 0%; 
}
.container{
    width: 1200px;
    height: 900px;
    background-color: yellow;
    background-image: url("https://i.mycdn.me/i?r=AzEPZsRbOZEKgBhR0XGMT1RkqUyQTXpSndUdZ5DOhktxEqaKTM5SRkZCeTgDn6uOyic");
    /* background-size: cover; */
    background-size: contain;
    
    background-repeat: no-repeat;
    


}
.container-like{
    width: 590px;height: 400px;
   
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(93,176,47,1) 23%, rgba(0,212,255,1) 100%);
}
.container-fluid{
    background-color: red;
    width: 100vw;
    /* vw=>eniga toliq ekranni egallaydi */
    height: 100vh;
    /* vh=>boyiga toliq ekranni egallaydi */

}
.text{

    font-size: 100px;
    background:linear-gradient(red,yellow) ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}